<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XBeamDataLayer.Properties.Settings.xpremaBeamConnectionString"
            connectionString="Data Source=SAMER\SQL2008;Initial Catalog=xpremaBeam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>